EmoxiconPaperAnalysis-April-30-2020-dat.RData
EmoxiconPaper.html
EmoxiconPaperAnalysisMarch26.html
EmoxiconPaperAnalysisMarch26.nb.html
EmoxiconPaperAnalysisApril7.R
EmoxiconPaper_files
EmoxiconPaper_cache
EmoxiconPaperAnalysis-July-23-2020-dat.RData
EmoxiconPaper.docx
